* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  background-image: url(/images/japan.png);
  background-size: cover;
}

.page-wrapper {
  position: relative;
}

/* HEADER */

.title {
  border-radius: 50px;
}

.header-img {
  width: 300px;
  margin-top: -70px;
  margin-left: -25px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  background-color: #f5f1e89a;
  height: 100px;
  margin-bottom:24px;
  padding-top: 30px;
  top: 0;
  z-index: 999;
}

.header-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 100px;
  border-radius: 10%;
}

.nav-bar {
  display: flex;
  justify-content: center;
  gap: 200px;
  margin-top: 10px;
  margin-right: 50px;
  list-style: none;
}

/* SIGN-UP */

.container {
  width: 1000px;
  height: fit-content;
  text-align: center;
  margin: auto;
}

.sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.email {
  padding: 5px;
  width: 300px;
}

.email::placeholder {
  text-align: left;
}

.submit {
  background-color: rgba(255, 196, 0, 0.767);
  font-weight: bold;
  margin-bottom: 50px;
  padding: 5px 20px;
  border-radius: 3px;
  border: none;
}

.submit:hover {
 background-color: orange;
 transition-duration: 1s;
 cursor: pointer;
}

/* PRODCUT DETAILS */

.product-details {
  display: block;
  text-align: left;
  width: fit-content;
  margin: 0 0 0 225px;
  margin-bottom: 75px;
}

.swords,
.shipping,
.seal {
  margin-left: -160px;
  margin-bottom: -75px;
}

.product-premium,
.product-shipping,
.product-seal {
  margin-top: 30px;
}

/* PRODUCT-SELECT */

.product-select {
  display: flex;
  justify-content: space-between;
}

h2 {
  margin-bottom: 5px;
}

.product {
  background-color: rgba(234, 240, 240, 0.87);
  text-align: center;
  line-height: 1.5;
  width: 300px;
  height: 320px;
  margin-top: 50px;
  margin-bottom: 40px;
  border: 1px solid black;
  border-radius: 2px;
}

h3 {
  background-color: rgba(173, 216, 230, 0.425);
  margin-bottom: 10px;
  padding: 10px 0;
}

h4 {
  font-size: 25px;
  margin-bottom: 10px;
}

.description {
  margin: 0 40px;
  text-align: left;
}

.btn {
  font-size: 17px;
  display: inline-block;
  vertical-align: bottom;
  background-color: rgba(255, 196, 0, 0.767);
  margin: 10px;
  padding: 10px 15px;
  border-radius: 2px;
}

.btn:hover {
 background-color: orange;
 transition-duration: 1s;
 cursor: pointer;
}

footer {
  background-color: lightblue;
  width: 1125px;
  height: 90px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 10px;
}

#footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
  margin-right: 30px;
}

.copyright {
  text-align: right;
  font-weight: lighter;
  color: rgb(70, 69, 69);
  margin-top: 10px;
  margin-right: 20px;
}

nav a {
  color: black;
  text-decoration: none;
}



@media (max-width: 650px) {
    nav > ul {
        flex-direction: column;
        gap: none;
    }
}